

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ relative_path('/dashboard')}}">Užívatelia</a></li>
            <li><a href="{{ relative_path('/readers')}}">NFC čítačky</a></li>
            <li><a href="{{ relative_path('/logs')}}">Záznamy</a></li>
            <li><a href="{{ relative_path('/sections') }}">Sekcie</a></li>
            {#class="active"#}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ relative_path('/logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
