<!DOCTYPE html>
<html lang="en">

<head>

    {{ include('@Interface/_layout/skeleton.html.twig') }}

    <style>

        .pad{
            padding: 10px;
        }


    </style>

</head>


<body>

{{ include('@Interface/_layout/navbar.html.twig') }}

<div class="col-md-1 pad ">

    <div class="btn-group-vertical">
        <a class="btn btn-default glyphicon glyphicon-hand-left" style="margin-bottom: 20%" href="{{ path('readersSection', {'id':  id_section}) }}" > Späť</a>
    </div>

</div>

<div class="input-group col-md-10 col-md-offset-1">
    {{ form_start(form) }}
    {{ form_end(form) }}

</div>




</body>